.navbar{
    margin-bottom: 0px;
    border: 0;
}

.dropdown-menu{
    color: 	#fff5ee;
}

#post{
    margin-top: 50px;
}
.container-fluid{
    margin-top: 25px;
}
.navbar-inverse .navbar-nav li a {
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #48d1cc;
}
.carosusel img{
     width: auto;
  height: 225px;
  max-height: 225px;
  overflow: hidden;

}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 65%;
height:500px;
margin: auto;
}
.sidenav {
      padding-top: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: #555;
      height: auto;
}
footer {
      background-color: #555;
      color: white;
      padding: 15px;
}

