{% extends "base.html" %}

{% block content %}

 <div class="row">
  <div class="col-md-6 col-md-offset-3">
<form class="specific-search">
    <div class="input-group">
    <span class="input-group-addon">Species</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="Dog">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Breed</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="German Shepard">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Color</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="Black and tan">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Size</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="100 lbs">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Name</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="Mango">
  </div>
  <br>
<button type="button" class="btn btn-primary btn-lg">Submit</button>  
</form>  
  </div>
</div>  
{% endblock %}  