{% extends "base.html" %}

{% block content %}

<div class="container">    
  <div class="col-md-6 col-md-offset-3">
    <h2> Fill as many as possible</h2>   
    <form class="specific-search" action="search" method="POST">
      <div class="input-group">
        <span class="input-group-addon">Species</span>
        <input id="msg" type="text" class="form-control" name="species" placeholder="Dog">
      </div>
    <br>
      <div class="input-group">
        <span class="input-group-addon">Breed</span>
        <input id="msg" type="text" class="form-control" name="breed" placeholder="German Shepard">
      </div>
    <br>
      <div class="input-group">
        <span class="input-group-addon">Color</span>
        <input id="msg" type="text" class="form-control" name="color" placeholder="Black and tan">
      </div>
    <br>
      <div class="input-group">
        <span class="input-group-addon">Size</span>
        <input id="msg" type="text" class="form-control" name="size" placeholder="100 lbs">
      </div>
    <br>
      <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input id="msg" type="text" class="form-control" name="name" placeholder="Mango">
      </div>
    <br>
      <div class="input-group">
        <span class="input-group-addon">City</span>
        <input id="msg" type="text" class="form-control" name="city" placeholder="Medina">
      </div>
    <br>
      <div class="input-group">
        <span class="input-group-addon">State</span>
        <select class="form-control" id="state" name="state">
          <option>Alabama</option>
          <option>Alaska</option>
          <option>Arizona</option>
          <option>Arkansas</option>
          <option>California</option>
          <option>Colorado</option>
          <option>Connecticut</option>    
          <option>Delaware</option>
          <option>Florida</option>
          <option>Georgia</option>
          <option>Hawaii</option>
          <option>Idaho</option>
          <option>Illinois</option>
          <option>Indiana</option>
          <option>Iowa</option>
          <option>Kansas</option>
          <option>Kentucky</option>
          <option>Louisiana</option>
          <option>Maine</option>
          <option>Maryland</option>
          <option>Massachusetts</option>
          <option>Michigan</option>
          <option>Minnesota</option>
          <option>Mississippi</option>
          <option>Missouri</option>
          <option>Montana</option>
          <option>Nebraska</option>
          <option>Nevada</option>
          <option>New Hampshire</option>
          <option>New Jersey</option>
          <option>New Mexico</option>
          <option>New York</option>
          <option>North Carolina</option>
          <option>North Dakota</option>
          <option>Ohio</option>
          <option>Oklahoma</option>
          <option>Oregon</option>
          <option>Pennsylvania</option>
          <option>Rhode Island</option>
          <option>South Carolina</option>
          <option>South Dakota</option>
          <option>Tennessee</option>
          <option>Texas</option>
          <option>Utah</option>
          <option>Vermont</option>
          <option>Virginia</option>
          <option>Washington</option>
          <option>West Virginia</option>
          <option>Wisconsin</option>
          <option>Wyoming</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>  
    </form>
  </div>
</div>  

{% endblock %}