
.box{
    width: 680px;
    height: 680px;
    overflow: hidden;
    background-color: gray;
}

.column-is-narrow{
    padding: 10px;
}

.columns{
    padding-top: 10px;
}

main{
    background-color: 	#dcdcdc; 
}